<div>
    <h2 id="page-heading">
        <span>Suppliers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-suppliers" [routerLink]="['/suppliers/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Suppliers
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="suppliers?.length === 0">
        <span>No suppliers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="suppliers && suppliers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Company Name</span></th>
                    <th scope="col" ><span>Products</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let suppliers of suppliers ;trackBy: trackId">
                    <td><a [routerLink]="['/suppliers', suppliers.id, 'view']">{{ suppliers.id }}</a></td>
                    <td>{{ suppliers.companyName }}</td>
                    <td>
                        <div *ngIf="suppliers.productsId">
                            <a [routerLink]="['/products', suppliers.productsId , 'view']" >{{ suppliers.productsId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/suppliers', suppliers.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/suppliers', suppliers.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(suppliers)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
