<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="suppliers">
            <h2><span>Suppliers</span> {{ suppliers.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Company Name</span></dt>
                <dd>
                    <span>{{ suppliers.companyName }}</span>
                </dd>
                <dt><span>Products</span></dt>
                <dd>
                    <div *ngIf="suppliers.productsId">
                        <a [routerLink]="['/products', suppliers.productsId, 'view']">{{ suppliers.productsId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/suppliers', suppliers.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
