<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customers">
            <h2><span>Customers</span> {{ customers.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Company Name</span></dt>
                <dd>
                    <span>{{ customers.companyName }}</span>
                </dd>
                <dt><span>Contact Name</span></dt>
                <dd>
                    <span>{{ customers.contactName }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{ customers.address }}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{ customers.city }}</span>
                </dd>
                <dt><span>Region</span></dt>
                <dd>
                    <span>{{ customers.region }}</span>
                </dd>
                <dt><span>Postal Code</span></dt>
                <dd>
                    <span>{{ customers.postalCode }}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{ customers.phone }}</span>
                </dd>
                <dt><span>Orders</span></dt>
                <dd>
                    <div *ngIf="customers.ordersId">
                        <a [routerLink]="['/orders', customers.ordersId, 'view']">{{ customers.ordersId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customers', customers.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
