<div>
    <h2 id="page-heading">
        <span>Customers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customers" [routerLink]="['/customers/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Customers
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="customers?.length === 0">
        <span>No customers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="customers && customers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Company Name</span></th>
                    <th scope="col" ><span>Contact Name</span></th>
                    <th scope="col" ><span>Address</span></th>
                    <th scope="col" ><span>City</span></th>
                    <th scope="col" ><span>Region</span></th>
                    <th scope="col" ><span>Postal Code</span></th>
                    <th scope="col" ><span>Phone</span></th>
                    <th scope="col" ><span>Orders</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customers of customers ;trackBy: trackId">
                    <td><a [routerLink]="['/customers', customers.id, 'view']">{{ customers.id }}</a></td>
                    <td>{{ customers.companyName }}</td>
                    <td>{{ customers.contactName }}</td>
                    <td>{{ customers.address }}</td>
                    <td>{{ customers.city }}</td>
                    <td>{{ customers.region }}</td>
                    <td>{{ customers.postalCode }}</td>
                    <td>{{ customers.phone }}</td>
                    <td>
                        <div *ngIf="customers.ordersId">
                            <a [routerLink]="['/orders', customers.ordersId , 'view']" >{{ customers.ordersId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/customers', customers.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/customers', customers.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(customers)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
