<div>
    <h2 id="page-heading">
        <span>Territories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-territory" [routerLink]="['/territory/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Territory
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="territories?.length === 0">
        <span>No territories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="territories && territories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Region ID</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let territory of territories ;trackBy: trackId">
                    <td><a [routerLink]="['/territory', territory.id, 'view']">{{ territory.id }}</a></td>
                    <td>{{ territory.regionID }}</td>
                    <td>{{ territory.name }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/territory', territory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/territory', territory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(territory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>

                            <button type="submit" (click)="weather(territory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="cloud"></fa-icon>
                                <span class="d-none d-md-inline">Weather</span>
                            </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
