<div>
    <h2 id="page-heading">
        <span>Orders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-orders" [routerLink]="['/orders/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Orders
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="orders?.length === 0">
        <span>No orders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="orders && orders.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Customer ID</span></th>
                    <th scope="col" ><span>Employee ID</span></th>
                    <th scope="col" ><span>Order Date</span></th>
                    <th scope="col" ><span>Shipped Date</span></th>
                    <th scope="col" ><span>Ship Via</span></th>
                    <th scope="col" ><span>Ship Address</span></th>
                    <th scope="col" ><span>Ship City</span></th>
                    <th scope="col" ><span>Freight</span></th>
                    <th scope="col" ><span>Order Details</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orders of orders ;trackBy: trackId">
                    <td><a [routerLink]="['/orders', orders.id, 'view']">{{ orders.id }}</a></td>
                    <td>{{ orders.customerID }}</td>
                    <td>{{ orders.employeeID }}</td>
                    <td>{{ orders.orderDate | date:'medium' }}</td>
                    <td>{{ orders.shippedDate | date:'medium' }}</td>
                    <td>{{ orders.shipVia }}</td>
                    <td>{{ orders.shipAddress }}</td>
                    <td>{{ orders.shipCity }}</td>
                    <td>{{ orders.freight }}</td>
                    <td>
                        <div *ngIf="orders.orderDetailsId">
                            <a [routerLink]="['/order-details', orders.orderDetailsId , 'view']" >{{ orders.orderDetailsId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/orders', orders.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/orders', orders.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(orders)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
