<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orders">
            <h2><span>Orders</span> {{ orders.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Customer ID</span></dt>
                <dd>
                    <span>{{ orders.customerID }}</span>
                </dd>
                <dt><span>Employee ID</span></dt>
                <dd>
                    <span>{{ orders.employeeID }}</span>
                </dd>
                <dt><span>Order Date</span></dt>
                <dd>
                    <span>{{ orders.orderDate }}</span>
                </dd>
                <dt><span>Shipped Date</span></dt>
                <dd>
                    <span>{{ orders.shippedDate }}</span>
                </dd>
                <dt><span>Ship Via</span></dt>
                <dd>
                    <span>{{ orders.shipVia }}</span>
                </dd>
                <dt><span>Ship Address</span></dt>
                <dd>
                    <span>{{ orders.shipAddress }}</span>
                </dd>
                <dt><span>Ship City</span></dt>
                <dd>
                    <span>{{ orders.shipCity }}</span>
                </dd>
                <dt><span>Freight</span></dt>
                <dd>
                    <span>{{ orders.freight }}</span>
                </dd>
                <dt><span>Order Details</span></dt>
                <dd>
                    <div *ngIf="orders.orderDetailsId">
                        <a [routerLink]="['/order-details', orders.orderDetailsId, 'view']">{{ orders.orderDetailsId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/orders', orders.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
