<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-orders-heading">Create or edit a Orders</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_customerID">Customer ID</label>
                    <input type="number" class="form-control" name="customerID" id="field_customerID"
                           formControlName="customerID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_employeeID">Employee ID</label>
                    <input type="number" class="form-control" name="employeeID" id="field_employeeID"
                           formControlName="employeeID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_orderDate">Order Date</label>
                    <div class="d-flex">
                        <input id="field_orderDate" type="datetime-local" class="form-control" name="orderDate" formControlName="orderDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_shippedDate">Shipped Date</label>
                    <div class="d-flex">
                        <input id="field_shippedDate" type="datetime-local" class="form-control" name="shippedDate" formControlName="shippedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_shipVia">Ship Via</label>
                    <input type="number" class="form-control" name="shipVia" id="field_shipVia"
                           formControlName="shipVia"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_shipAddress">Ship Address</label>
                    <input type="text" class="form-control" name="shipAddress" id="field_shipAddress"
                           formControlName="shipAddress"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_shipCity">Ship City</label>
                    <input type="text" class="form-control" name="shipCity" id="field_shipCity"
                           formControlName="shipCity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_freight">Freight</label>
                    <input type="text" class="form-control" name="freight" id="field_freight"
                           formControlName="freight"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_orderDetails">Order Details</label>
                    <select class="form-control" id="field_orderDetails" name="orderDetails" formControlName="orderDetailsId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="orderDetailsOption.id" *ngFor="let orderDetailsOption of orderdetails; trackBy: trackById">{{ orderDetailsOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
