<div>
    <h2 id="page-heading">
        <span>Shippers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shippers" [routerLink]="['/shippers/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Shippers
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shippers?.length === 0">
        <span>No shippers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shippers && shippers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Company Name</span></th>
                    <th scope="col" ><span>Phone Number</span></th>
                    <th scope="col" ><span>Orders</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shippers of shippers ;trackBy: trackId">
                    <td><a [routerLink]="['/shippers', shippers.id, 'view']">{{ shippers.id }}</a></td>
                    <td>{{ shippers.companyName }}</td>
                    <td>{{ shippers.phoneNumber }}</td>
                    <td>
                        <div *ngIf="shippers.ordersId">
                            <a [routerLink]="['/orders', shippers.ordersId , 'view']" >{{ shippers.ordersId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shippers', shippers.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shippers', shippers.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shippers)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
