<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shippers">
            <h2><span>Shippers</span> {{ shippers.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Company Name</span></dt>
                <dd>
                    <span>{{ shippers.companyName }}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{ shippers.phoneNumber }}</span>
                </dd>
                <dt><span>Orders</span></dt>
                <dd>
                    <div *ngIf="shippers.ordersId">
                        <a [routerLink]="['/orders', shippers.ordersId, 'view']">{{ shippers.ordersId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shippers', shippers.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
