<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderDetails">
            <h2><span>Order Details</span> {{ orderDetails.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Order ID</span></dt>
                <dd>
                    <span>{{ orderDetails.orderID }}</span>
                </dd>
                <dt><span>Product ID</span></dt>
                <dd>
                    <span>{{ orderDetails.productID }}</span>
                </dd>
                <dt><span>Unit Price</span></dt>
                <dd>
                    <span>{{ orderDetails.unitPrice }}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{ orderDetails.quantity }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-details', orderDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
