<div>
    <h2 id="page-heading">
        <span>Products</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-products" [routerLink]="['/products/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Products
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
        <span>No products found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="products && products.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Product Name</span></th>
                    <th scope="col" ><span>Category ID</span></th>
                    <th scope="col" ><span>Supplier ID</span></th>
                    <th scope="col" ><span>Unit Price</span></th>
                    <th scope="col" ><span>Order Details</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let products of products ;trackBy: trackId">
                    <td><a [routerLink]="['/products', products.id, 'view']">{{ products.id }}</a></td>
                    <td>{{ products.productName }}</td>
                    <td>{{ products.categoryID }}</td>
                    <td>{{ products.supplierID }}</td>
                    <td>{{ products.unitPrice }}</td>
                    <td>
                        <div *ngIf="products.orderDetailsId">
                            <a [routerLink]="['/order-details', products.orderDetailsId , 'view']" >{{ products.orderDetailsId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/products', products.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/products', products.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(products)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
