<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="products">
            <h2><span>Products</span> {{ products.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Product Name</span></dt>
                <dd>
                    <span>{{ products.productName }}</span>
                </dd>
                <dt><span>Category ID</span></dt>
                <dd>
                    <span>{{ products.categoryID }}</span>
                </dd>
                <dt><span>Supplier ID</span></dt>
                <dd>
                    <span>{{ products.supplierID }}</span>
                </dd>
                <dt><span>Unit Price</span></dt>
                <dd>
                    <span>{{ products.unitPrice }}</span>
                </dd>
                <dt><span>Order Details</span></dt>
                <dd>
                    <div *ngIf="products.orderDetailsId">
                        <a [routerLink]="['/order-details', products.orderDetailsId, 'view']">{{ products.orderDetailsId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/products', products.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
