<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-products-heading">Create or edit a Products</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_productName">Product Name</label>
                    <input type="text" class="form-control" name="productName" id="field_productName"
                           formControlName="productName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_categoryID">Category ID</label>
                    <input type="number" class="form-control" name="categoryID" id="field_categoryID"
                           formControlName="categoryID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_supplierID">Supplier ID</label>
                    <input type="number" class="form-control" name="supplierID" id="field_supplierID"
                           formControlName="supplierID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_unitPrice">Unit Price</label>
                    <input type="number" class="form-control" name="unitPrice" id="field_unitPrice"
                           formControlName="unitPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_orderDetails">Order Details</label>
                    <select class="form-control" id="field_orderDetails" name="orderDetails" formControlName="orderDetailsId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="orderDetailsOption.id" *ngFor="let orderDetailsOption of orderdetails; trackBy: trackById">{{ orderDetailsOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
