<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-region-heading">Create or edit a Region</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_regionName">Region Name</label>
                    <input type="text" class="form-control" name="regionName" id="field_regionName"
                           formControlName="regionName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userRegion">User Region</label>
                    <select class="form-control" id="field_userRegion" name="userRegion" formControlName="userRegionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userRegionOption.id" *ngFor="let userRegionOption of userregions; trackBy: trackById">{{ userRegionOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_territory">Territory</label>
                    <select class="form-control" id="field_territory" name="territory" formControlName="territoryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="territoryOption.id" *ngFor="let territoryOption of territories; trackBy: trackById">{{ territoryOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
