<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="region">
            <h2><span>Region</span> {{ region.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Region Name</span></dt>
                <dd>
                    <span>{{ region.regionName }}</span>
                </dd>
                <dt><span>User Region</span></dt>
                <dd>
                    <div *ngIf="region.userRegionId">
                        <a [routerLink]="['/user-region', region.userRegionId, 'view']">{{ region.userRegionId }}</a>
                    </div>
                </dd>
                <dt><span>Territory</span></dt>
                <dd>
                    <div *ngIf="region.territoryId">
                        <a [routerLink]="['/territory', region.territoryId, 'view']">{{ region.territoryId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/region', region.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
