<div>
    <h2 id="page-heading">
        <span>Regions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-region" [routerLink]="['/region/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Region
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="regions?.length === 0">
        <span>No regions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="regions && regions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Region Name</span></th>
                    <th scope="col" ><span>User Region</span></th>
                    <th scope="col" ><span>Territory</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let region of regions ;trackBy: trackId">
                    <td><a [routerLink]="['/region', region.id, 'view']">{{ region.id }}</a></td>
                    <td>{{ region.regionName }}</td>
                    <td>
                        <div *ngIf="region.userRegionId">
                            <a [routerLink]="['/user-region', region.userRegionId , 'view']" >{{ region.userRegionId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="region.territoryId">
                            <a [routerLink]="['/territory', region.territoryId , 'view']" >{{ region.territoryId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/region', region.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/region', region.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(region)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
