<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categories">
            <h2><span>Categories</span> {{ categories.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Category Name</span></dt>
                <dd>
                    <span>{{ categories.categoryName }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ categories.description }}</span>
                </dd>
                <dt><span>Products</span></dt>
                <dd>
                    <div *ngIf="categories.productsId">
                        <a [routerLink]="['/products', categories.productsId, 'view']">{{ categories.productsId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/categories', categories.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
