<div>
    <h2 id="page-heading">
        <span>Categories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-categories" [routerLink]="['/categories/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Categories
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
        <span>No categories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="categories && categories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Category Name</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col" ><span>Products</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categories of categories ;trackBy: trackId">
                    <td><a [routerLink]="['/categories', categories.id, 'view']">{{ categories.id }}</a></td>
                    <td>{{ categories.categoryName }}</td>
                    <td>{{ categories.description }}</td>
                    <td>
                        <div *ngIf="categories.productsId">
                            <a [routerLink]="['/products', categories.productsId , 'view']" >{{ categories.productsId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/categories', categories.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/categories', categories.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(categories)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
