<div>
    <h2 id="page-heading">
        <span>User Territories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-territory" [routerLink]="['/user-territory/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new User Territory
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userTerritories?.length === 0">
        <span>No userTerritories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userTerritories && userTerritories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Territory Id</span></th>
                    <th scope="col" ><span>User Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userTerritory of userTerritories ;trackBy: trackId">
                    <td><a [routerLink]="['/user-territory', userTerritory.id, 'view']">{{ userTerritory.id }}</a></td>
                    <td>{{ userTerritory.territoryId }}</td>
                    <td>{{ userTerritory.userId }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-territory', userTerritory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-territory', userTerritory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userTerritory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
