<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userTerritory">
            <h2><span>User Territory</span> {{ userTerritory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Territory Id</span></dt>
                <dd>
                    <span>{{ userTerritory.territoryId }}</span>
                </dd>
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{ userTerritory.userId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-territory', userTerritory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
