<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userRegion">
            <h2><span>User Region</span> {{ userRegion.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Region ID</span></dt>
                <dd>
                    <span>{{ userRegion.regionID }}</span>
                </dd>
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{ userRegion.userId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-region', userRegion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
